<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-4">Hello and Welcome to The Job Hunt, {{userInfo.firstName}}!</h1>
    </div>
    <div class="row justify-content-center">
        <form [formGroup]="dashboardSearch" (ngSubmit)="searchForJob()">
            <h5>Search for job by keyword:</h5>
            <div class="row">
                <div class="col-10">
                    <input class="form-control me-2" type="search" placeholder="Search"
                        formControlName="dashboardSearchString">
                </div>
                <div class="col-2 d-grid">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="savedJobsList != null">
        <div class="alert alert-success" role="alert" *ngIf="message != null">
            {{message}}
          </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Position Title</th>
                    <th>Organization Name</th>
                    <th>Location</th>
                    <th>Applied For?</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of savedJobsList">
                    <td (click)="selectJob(job)">{{job.PositionTitle}}</td>
                    <td>{{job.OrganizationName}}</td>
                    <td>{{job.PositionLocationDisplay}}</td>
                    <td><input type="checkbox" [(ngModel)]="job.AppliedFor"
                            (change)="updateAppliedFor(job)" />&nbsp;&nbsp;{{job.AppliedFor}}</td>
                    <td><button class="btn btn-danger" (click)="deleteJob(job)">Delete Job</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="selectedJob != null">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <div *ngIf="selectedJob.PositionTitle.length > 0">
                    <h3>{{selectedJob.PositionTitle}}</h3>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <div *ngIf="selectedJob.OrganizationName.length > 0">
                    <h6>Organization Name</h6>
                    <p>{{selectedJob.OrganizationName}}</p>
                    <hr>
                </div>
                <div *ngIf="selectedJob.PositionLocationDisplay.length > 0">
                    <h6>Location</h6>
                    <p>{{selectedJob.PositionLocationDisplay}}</p>
                    <hr>
                </div>
                <div class="d-grid text-center">
                    <button class="btn btn-danger" (click)="deleteJob(selectedJob)">Delete Job</button>
                </div>
            </div>
            <div class="col col-9">
                <div *ngIf="selectedJob.JobSummary.length > 0">
                    <h6>Job Summary</h6>
                    <p>{{selectedJob.JobSummary}}</p>
                    <hr>
                </div>
                <div *ngIf="selectedJob.AgencyMarketingStatement.length > 0">
                    <h6>Agency Statement</h6>
                    <p>{{selectedJob.AgencyMarketingStatement}}</p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col col-12">
                <div *ngIf="selectedJob.Requirements.length > 0">
                    <h6>Requirements</h6>
                    <p>{{selectedJob.Requirements}}</p>
                    <hr>
                </div>
                <div *ngIf="selectedJob.Evaluations.length > 0">
                    <h6>Evaluations</h6>
                    <p>{{selectedJob.Evaluations}}</p>
                    <hr>
                </div>
                <div *ngIf="selectedJob.OtherInformation.length > 0">
                    <h6>Other Information</h6>
                    <p>{{selectedJob.OtherInformation}}</p>
                </div>
            </div>
        </div>
    </div>
</div>